@theme inline {
  --tw-size-unit-auto: auto;
  --tw-size-unit-px: 1px;
  --tw-size-unit-full: 100%;
  ---tw-size-unit-screen: 100vh;
  --tw-size-unit-dvh: 100dvh;
  --tw-size-unit-dvw: 100dvw;
  --tw-size-unit-lvh: 100lvh;
  --tw-size-unit-lvw: 100lvw;
  --tw-size-unit-svh: 100svh;
  --tw-size-unit-svw: 100svw;
  --tw-size-unit-min: min-content;
  --tw-size-unit-max: max-content;
  --tw-size-unit-fit: fit-content;
  --tw-size-unit-lh: 1lh;
  --tw-size-unit-none: none;
  --tw-size-unit-stretch: stretch;
}

@utility i-* {
  inline-size: --spacing(--value(number));
  inline-size: calc(--value(ratio) * 100%);
  inline-size: --value(--tw-size-unit-*);
  inline-size: --value([length]);
}
@utility max-i-* {
  max-inline-size: --spacing(--value(number));
  max-inline-size: calc(--value(ratio) * 100%);
  max-inline-size: --value(--tw-size-unit-*);
  max-inline-size: --value([length]);
}
@utility min-i-* {
  min-inline-size: --spacing(--value(number));
  min-inline-size: calc(--value(ratio) * 100%);
  min-inline-size: --value(--tw-size-unit-*);
  min-inline-size: --value([length]);
}

@utility b-* {
  block-size: --spacing(--value(number));
  block-size: calc(--value(ratio) * 100%);
  block-size: --value(--tw-size-unit-*, --container-*, [length]);
}
@utility max-b-* {
  max-block-size: --spacing(--value(number));
  max-block-size: calc(--value(ratio) * 100%);
  max-block-size: --value(--tw-size-unit-*, --container-*, [length]);
}
@utility min-b-* {
  min-block-size: --spacing(--value(number));
  min-block-size: calc(--value(ratio) * 100%);
  min-block-size: --value(--tw-size-unit-*, --container-*, [length]);
}
