@property --tw-jib--ripple-distance {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --tw-jib--ripple-position {
  syntax: '<length>+ | <custom-ident>';
  inherits: false;
  initial-value: center;
}
@property --tw-jib--ripple-duration {
  syntax: '<time>';
  inherits: false;
  initial-value: 0.4s;
}
@property --tw-jib--ripple-color {
  syntax: '<color>';
  inherits: true;
  initial-value: oklch(1 0 0 / 20%);
}
@property --tw-jib--ripple-color-mix {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --tw-jib--ripple-fade-amount {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@keyframes ripple {
  0% {
    --tw-jib--ripple-distance: 0%;
  }
  100% {
    --tw-jib--ripple-distance: 100%;
    --tw-jib--ripple-color-mix: var(--tw-jib--ripple-fade-amount);
  }
}
@property --tw-jib--ripple-image {
  syntax: '<image>';
  inherits: false;
  initial-value: radial-gradient(
    circle at center,
    transparent 0%,
    transparent 0%,
    transparent 0%,
    transparent 100%
  );
}

@utility bg-ripple {
  --tw-jib--mixed-ripple-color: color-mix(
    in oklch,
    var(--tw-jib--ripple-color) calc(100% - var(--tw-jib--ripple-color-mix)),
    transparent var(--tw-jib--ripple-color-mix)
  );
  background:
    var(--tw-jib--ripple-image) padding-box,
    var(--tw-jib--bg-image) padding-box,
    var(--tw-jib--border-gradient) border-box;
  &:active {
    --tw-jib--ripple-image: radial-gradient(
      circle at var(--tw-jib--ripple-position),
      var(--tw-jib--mixed-ripple-color) 0%,
      var(--tw-jib--mixed-ripple-color) calc(var(--tw-jib--ripple-distance)),
      var(--tw-jib--mixed-ripple-color) var(--tw-jib--ripple-distance),
      transparent var(--tw-jib--ripple-distance),
      transparent 100%
    );
    animation: ripple var(--tw-jib--ripple-duration) forwards ease-in;
  }
}

@utility ripple-color-* {
  --tw-jib--ripple-color: --value('inherit', --color-*, [color], var(--color));
  --tw-jib--ripple-color: color-mix(
    in oklch,
    --value(--color-*, [color], var(--color)) calc(--modifier(integer, [number]) * 1%),
    transparent
  );
}

@utility ripple-duration-* {
  --tw-jib--ripple-duration: calc(--value(integer) * 10ms);
  --tw-jib--ripple-duration: --value([*]);
}

@utility ripple-color-current {
  --tw-jib--ripple-color: currentColor;
}

@utility ripple-color-* {
  --tw-jib--ripple-color: --value('inherit', --color-*, [color], var(--color));
  --tw-jib--ripple-color: color-mix(
    in oklch,
    --value(--color-*, [color], var(--color)) calc(--modifier(integer, [number]) * 1%),
    transparent
  );
}

@utility ripple-position-* {
  --tw-jib--ripple-position: --value('top', 'left', 'right', 'bottom', 'center', [position]);
}
@utility ripple-fade {
  --tw-jib--ripple-fade-amount: 100%;
}
@utility ripple-fade-none {
  --tw-jib--ripple-fade-amount: 0%;
}

@utility ripple-fade-* {
  --tw-jib--ripple-fade-amount: calc(--value(integer) * 1%);
}
