@property --tw-jib--scrollbar-thumb {
  syntax: '<color>';
  inherits: false;
  initial-value: #7d7d7d;
}
@property --tw-jib--scrollbar-track {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}
@utility scrollbar-auto {
  scrollbar-color: auto;
}

@utility scrollbar-* {
  --tw-jib--scrollbar-thumb: --value(--color-*, [color]);
  --tw-jib--scrollbar-track: --modifier(--color-*, [color]);
  scrollbar-color: var(--tw-jib--scrollbar-thumb) var(--tw-jib--scrollbar-track);
}

@utility scrollbar-thumb-* {
  --tw-jib--scrollbar-thumb: --value(--color-*, [color]);
  --tw-jib--scrollbar-thumb: --alpha(--value(--color-*, [color]) / calc(--modifier(integer) * 1%));
  scrollbar-color: var(--tw-jib--scrollbar-thumb) var(--tw-jib--scrollbar-track);
}

@utility scrollbar-track-* {
  --tw-jib--scrollbar-track: --value(--color-*, [color]);
  --tw-jib--scrollbar-track: --alpha(--value(--color-*, [color]) / calc(--modifier(integer) * 1%));
  scrollbar-color: var(--tw-jib--scrollbar-thumb) var(--tw-jib--scrollbar-track);
}

@utility scrollbar-gutter-* {
  scrollbar-gutter: --value('auto', 'stable', [*]);
}
@utility scrollbar-gutter-stable-both {
  scrollbar-gutter: stable both-edges;
}

@utility scrollbar-width-* {
  scrollbar-width: --value('auto', 'thin', 'none', [*]);
}
